/* Colors */
/* Fonts */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }

.container {
  display: grid;
  grid-template-rows: [top-nav-start] 8rem [top-nav-end header-start] calc(100vh - 8rem) [header-end features-start] minmax(60rem, min-content) [features-end drone-start] minmax(70rem, min-content) [drone-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.75rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.nav-container {
  grid-column: full-start/full-end;
  grid-row: top-nav-start/top-nav-end;
  z-index: 2;
  display: grid;
  grid-template-columns: minmax(max-content, 134rem);
  justify-content: center;
  align-items: center; }

.nav {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  color: #fff;
  font-size: 1.8rem; }
  .nav__list {
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(7, minmax(min-content, max-content));
    align-items: center; }
  .nav__item {
    display: inline-block; }
    .nav__item--active {
      border: 1px solid rgba(255, 255, 255, 0.35);
      border-radius: 100px;
      padding: 1rem 2rem; }
  .nav__item:not(:last-child) {
    margin-right: 3.5rem; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    transition: all .2s;
    display: inline-block; }
    .nav__link:hover, .nav__link:active {
      transform: translateY(-0.2rem); }

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-start/full-end;
  grid-row: top-nav-start/header-end;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-rows: minmax(min-content, 1fr) repeat(2, min-content) minmax(min-content, 1fr);
  grid-row-gap: 2rem;
  justify-items: center;
  color: #fff; }
  .header__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4rem; }
  .header__scroll {
    align-self: end;
    text-align: center;
    margin-bottom: 10%; }

.features {
  grid-row: features-start/features-end;
  grid-column: full-start/full-end;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 67rem));
  grid-template-rows: minmax(25rem, 1fr) max-content;
  grid-row-gap: 1rem;
  justify-content: center; }
  .features__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    align-items: center; }
  .features__item {
    display: grid;
    grid-template-rows: 10rem;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 25rem; }
  .features__img {
    width: auto;
    height: auto;
    display: block; }
  .features__text {
    text-align: center;
    font-size: 1.6rem;
    color: #5e6372; }
  .features__btn {
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    margin: 10rem 0; }

.drone {
  grid-column: center-start/-1;
  grid-row: drone-start/drone-end;
  display: grid;
  grid-template-columns: minmax(min-content, 60%) minmax(20%, 1fr);
  align-content: center; }
  .drone__content {
    display: grid;
    grid-template-rows: min-content;
    grid-row-gap: 2rem;
    align-content: center;
    color: #5e6372; }
  .drone__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.6rem;
    padding-right: 5rem;
    margin-bottom: 3rem; }
  .drone__features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem; }
  .drone__list--left, .drone__list--right {
    font-size: 1.4rem;
    line-height: 2.4rem; }
  .drone__list-item {
    display: flex;
    align-items: center; }
  .drone__list-item:not(:last-child) {
    margin-bottom: 6rem; }
  .drone__number {
    padding: 0;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center; }
  .drone__paragraph {
    margin-left: 3rem; }
  .drone__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; }

.heading-1 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  align-self: end; }

.heading-2 {
  background-image: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 3.6rem;
  display: inline-block;
  margin-bottom: 2rem; }

.heading-3 {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.btn {
  padding: 2rem 1rem;
  display: inline-block;
  width: 20rem;
  height: 5rem;
  border-radius: 100px;
  padding: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.6rem; }
  .btn a {
    text-decoration: none; }
  .btn--white {
    background-color: #fff; }
    .btn--white a {
      text-decoration: none;
      color: #d32721; }
  .btn--transparent {
    background-color: transparent;
    border: 1px solid #fff; }
    .btn--transparent a {
      color: #fff; }
  .btn--blue {
    background: linear-gradient(30deg, #264699, #4964a9); }
    .btn--blue a {
      text-decoration: none;
      color: #fff; }
