*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px (10px/16px = 0,625)
}

body {
  font-family: $font-primary;
}

.container {
  display: grid;
  grid-template-rows: [top-nav-start] 8rem [top-nav-end header-start] calc(100vh - 8rem) [header-end features-start] minmax(60rem, min-content) [features-end drone-start] minmax(70rem, min-content) [drone-end gallery-start] minmax(128rem, min-content) [gallery-end newsletter-start] minmax(48rem, min-content) [newsletter-end map-start] minmax(60rem, min-content) [map-end footer-start] minmax(30rem, min-content) [fotter-end] ;

  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.75rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  
}