.features {
  grid-row: features-start/features-end;
  grid-column: full-start/full-end;
  background-color: $color-grey-1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 67rem));
  grid-template-rows: minmax(25rem, 1fr) max-content;
  grid-row-gap: 1rem;
  justify-content: center;

  @include media(big-screen) {
    grid-template-columns: repeat(2, minmax(25rem, 67rem));
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    align-items: center;
  }

  &__item {
    display: grid;
    grid-template-rows: 10rem;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 25rem;
    margin-top: 3rem;
    // height: 20rem;
  }

  &__img {
    width: auto;
    height: auto;
    display: block;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    color: #5e6372;
  }

  &__btn {
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    margin: 10rem 0;
  }
}