.footer {
  grid-column: full-start/full-end;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  &__content {
    font-size: 1.8rem;
    line-height: 3.8rem;
    color: #a7acbc;
    font-weight: 300;
  }

  &__content span {
    font-weight: 700;
  }

}