.header {
  background-image: url(../img/header-bg.jpg);
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: full-start/full-end;
  grid-row: top-nav-start/header-end;
  justify-content: center;
  align-content: center;
  // padding-top: 20rem;

  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 2rem;
  justify-items: center;

  color: #fff;

  &__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(#fff, .5);
    margin-bottom: 4rem;
  }

  
}