.nav-popup {

  &__foreground {
    // display: inline-block;
    width: 7rem;
    height: 7rem;
    background: white;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 5rem rgba(10, 22, 45, 0.4);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-active .nav-popup__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &-active .nav-popup__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    // &-active &:hover .nav-popup__icon::before {
    //   top: .8rem;
    // }
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }



  // &__foreground:hover &__icon::before {
  //   top: -1rem;
  // }

  // &__foreground:hover &__icon::after {
  //   top: 1rem;
  // }

  &__background {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background: radial-gradient($color-primary-1, $color-primary-2);
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    border-radius: 50%;
    z-index: 50;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    &-active {
      transform: scale(80);
    }
  }

  &__container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 75; 
    opacity: 0;
    transform: translateX(-100%);
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  

  &__list {
    list-style: none;
    position: relative; // z-index: 75;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      font-size: 3rem;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all .3s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-2;
      transform: translateX(1rem);
    }
  }
}