.nav-container{
  grid-column: full-start/full-end;
  grid-row: top-nav-start/top-nav-end;
  z-index: 2;

  display: grid;
  // grid-template-columns: 1fr repeat(8, minmax(min-content, 16.75rem)) 1fr;
  grid-template-columns: minmax(6rem, 1fr) minmax(max-content, 134rem) minmax(6rem, 1fr);
  justify-content: center;
  align-items: center;

  @include media(tab-land) {
  grid-template-columns: minmax(3rem, 1fr) minmax(max-content, 134rem) minmax(3rem, 1fr);
    
  }
}

.nav {
  grid-column: 2/3;
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;

  &__logo {
    // @include media(tab-port) {
    //   width: 50%;
    //   height: auto;
    // }
  }
  
  &__list {
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(7, minmax(min-content, max-content));
    align-items: center;

    @include media(tab-port) {
      display: none;
    }

  }

  &__item {
    display: inline-block;

    &--active {
      border: 1px solid rgba(255, 255, 255, .35);
      border-radius: 100px;
      padding: 1rem 2rem;
    }
  }

  &__item:not(:last-child) {
    margin-right: 3.5rem;

    @include media(tab-port) {
    margin-right: 2rem;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: all .2s;
    display: inline-block;

    &:link,
    &:visited {
    }

    &:hover,
    &:active {
      transform: translateY(-.2rem);
    }
  }
}