.newsletter {
  grid-column: full-start/full-end;
  background-image: url(../img/neswletter-bg.jpg);
  background-position: center;  
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form .btn--white {
    transform: translate(-5rem)
  }

  &__form .btn--white:hover {
    transform: translate(-5rem, 0);
  }

  &__input {
    display: inline-block;
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    font-family: $font-primary;
    // font-weight: 700;
    border-radius: 50px;
    color: #fff;
    // background-color: transparent;
    background-color: rgba($color: #fff, $alpha: .3);
    // border: 1px solid white;
    border: none;
    opacity: .8;
    padding: 0 2rem;

    &::placeholder{
      color: #fff;
    }

    @include media(phone){
      width: 20rem;
    }
  }
  
  &__input:focus {
    outline: none;
 }

}