.heading-1 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  align-self: end;
}

.heading-2 {
  background-image: linear-gradient(15deg, #cb0035 0%, #e06900 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.8rem;
  font-weight: 700;
  // line-height: 3.6rem;
  display: inline-block;
  margin-bottom: 2rem;
  
  &--white {
    color: #fff;
    background-image: none;
  }
}

.heading-3 {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(15deg, #cb0035 0%, #e06900 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.btn {
  padding: 2rem 1rem;
  display: inline-block;
  width: 20rem;
  height: 5rem;
  border-radius: 100px;
  padding: 0;
  border: none;
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.6rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: translateY(-.2rem)
  }

  &:active {
    transform: translateY(-.1rem);
  }
  
  a {
    text-decoration: none;
    // color: #d32721;
    }
  
  
  &--white {
    background-color: #fff;
    a {
      text-decoration: none;
      color: #d32721;
    }
  }
  
  &--transparent {
    background-color: transparent;
    border: 1px solid #fff;
    margin-left: 1.5rem;
    a {
      color: #fff;

    }
  }

  &--blue {
    // background-color: red;
    background: linear-gradient(30deg, #264699, #4964a9);
   
    a {
      text-decoration: none;
      color: #fff;
      }
  }
}

.play-polygon{
  padding-right: 1rem;
  display: inline-block;
  transform: translateY(.3rem);
}
 