/* Colors */
$color-primary-1: #e06900;
$color-primary-2: #cb0035;
$color-gradient: linear-gradient(39deg, #cb0035 0%, #e06900 100%);
$color-grey-1: #f6f6f6;

/* Fonts */

$font-primary: 'Montserrat', sans-serif;